body {
    margin: 0;
    background-image: url(./pictures/pexels-pixabay-390051.jpg);
    background-size: cover;
    margin: 0;
    font-family:sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

